 /* Styling for the sections */
.left-section {
    width: 50%;
    float: left;
  }
  
  .right-section {
    width: 50%;
    float: left;
  }
  

  .left-section {
    background-color: #f1f1f1;
  }
  
  .right-section {
    background-color: white;
  }
  
  
  .clearfix::after {
    content: "";
    display: table;
    clear: both;
  }
  .left-section img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    background-image: cover;
  }