/* Define the styles for the mental health website */

*{
    padding: O;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: #fff;
}

body{
    background: #64635c;
    color: #fff;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
.logo{
    font-size: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 20px;
}
.nav li{
    display: inline-block;
    margin: 0 10px;
    cursor: pointer;
}
.nav{
    font-size: 15px;
}

.nav li:hover a{
    color: chartreuse;
}

.togg{
    display: none;
    background: transparent;
    border: none;
    outline: none;
}
.imga{
    height: 1000px;
    width: 1400px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

img{
    height: 50%;
    background-size: cover;
    width: 120vh;
}
article{
    display: grid;
    grid-template-columns: 30% 40% 30%;
}

.show{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.showt{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    font-size: 100px;
    width: 50%;
    color:rgb(238, 238, 54)
}

h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
}
p{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.action{
    margin: 30px 0;
    font-family: Arial, Helvetica, sans-serif;
}

.contact{
    background-color: cadetblue;
    padding: 10px 25px;
    margin: 0 10px;
}

.contact:hover{
    background-color: rgb(47d, 82, 12);
}

.read:hover{
    color: chartreuse;
}
[class*='fa'] {
    color: #fff;
    margin-left: 10px;
}

[class*='fa']:hover{
    color: chartreuse;
}

@media screem and (max-width: 660px)
{
    .show{
        justify-content: space-between;
        height: 60vh;
    }
}

@media screen and (max-width:960px){
    header{
        flex-direction: row-reverse;
    }
    main {
        background: url(mental2.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }
    .logo{
        font-size: 30px;
        font-weight: 600;
    }

    .nav{
        position: absolute;
        top: 80px;
        left: 50%;
        transform: translate(-50%);
        justify-content: center;
        z-index: 10;
        display: none;
    }

    img{
        display: none;
    }
    .nav.active{
        display: grid;
    }
    .nav li{
        margin: 20px 0;
        background-color: black;
        padding: 10px 100px;
        text-align: center;
        opacity: 0;
        animation: opac 0.5s forwards;
    }
    .nav li:nth-of-type(1){
        animation-delay: 125ms;
    }
    
     .nav li:nth-of-type(2){
            animation-delay: 250ms;
        }
        .nav li:nth-of-type(3){
            animation-delay: 375ms;
        }
        .nav li:nth-of-type(4){
            animation-delay: 500ms;
        }
    .togg{
        display: grid;
    }
    article{
        grid-template-columns: 100%;
    }

    .show{
        justify-content: space-between;
        width: 80%;
        margin: auto;
    }
    .showt{
        font-size: 60px;
        width: 100%;
        text-align: center;
    }
    h3{ 
        font-size: 30px;
    }
}

@keyframes sri{
    25%
    {
        opacity: 0.25;
    }
    50%
    {
        opacity: 0.5;
    }
    75%
    {
        opacity: 0.75;
    }
    100%
    {
        opacity: 1;
    }
}

footer{
    bottom: 0vh;
    text-align: center;
}
/* .blog{
    height: 600;
    width: 1300;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: flex-start;
    margin: 10px;
} */

.blog1,.blog2,.blog3,.blog4,.blog5,.blog6,.blog7,.blog8,.blog9,.blog10,.blog11,.blog12{
    /* height: 200px;
    width: 200px; */
    background-image: url();
    background-size: cover;
    background-color: #fff;
    border: 2px solid black;
    display: inline-block;
    margin: 10px;
    color: yellow;
}
.blog1{
    background-image: url(anxiety.webp);
    background-size: cover;
}
.blog2{
    background-image: url(stress.avif);
    background-size: cover;
    
}
.blog3{
    background-image: url(trauma.jpg);
    background-size: cover;
    
}.blog4{
    background-image: url(depression.jpg);
    background-size: cover;
    
}.blog5{
    background-image: url(ocd.webp);
    background-size: cover;
    
}.blog6{
    background-image: url(bipolar.jpg);
    background-size: cover;
   
}.blog7{
    background-image: url(adhd.webp);
    background-size: cover;
   
}.blog8{
    background-image: url(relationshipissue.jpg);
    background-size: cover;
   
}.blog9{
    background-image: url(teenage\ issues.jpg);
    background-size: cover;
}.blog10{
    background-image: url(grief&loss.jpg);
    background-size: cover;
}.blog11{
    background-image: url(dimentia.webp);
    background-size: cover;
}.blog12{
    background-image: url(insomnia.webp);
    background-size: cover;
}
img{
    display: inline-block;
}
h1{
    text-align: center;
}
.blog{
    width: 1200px;
    height: 1400px;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
  }
  
  .blog1,.blog2,.blog3,.blog4,.blog5,.blog6,.blog7,.blog8,.blog9,.blog10,.blog11,.blog12{
    width: 200px;
    height: 200px;
    border: 1px solid red;
    box-sizing: border-box;
  }
  .box1{
    height: 200px;
    width: 1300px;
    display: flex;
    flex-wrap: wrap;
  }
  .box2{
    height: 200px;
    width: 1300px;
    display: flex;
    flex-wrap: wrap;
  }
  .box3{
    height: 200px;
    width: 1300px;
    display: flex;
    flex-wrap: wrap;
  }
